*{
margin: 0;
padding :0;
box-sizing: border-box;
width: 80%;
text-align: center;
margin: auto;
justify-content: center;

}
.imgclass{
  display: flex;
  justify-content: center;
  border:1px solid brown;
  width:40%;

}
.headclass{
 

}

.pclass{
  text-align: center;
  padding: 2px;
  margin: 2px;
  
  font-family: 'Hachi Maru Pop', cursive;
font-family: 'Potta One', cursive;
}